{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>

{% if role == "admin" %}
  <h3>Admin Dashboard — All Centers</h3>
  <table border="1" cellpadding="5">
    <tr><th>Center Name</th><th>District</th></tr>
    {% for c in centers %}
      {% if c.center %}
        <tr><td>{{ c.center.Center_name }}</td><td>{{ c.center.District }}</td></tr>
      {% endif %}
    {% endfor %}
  </table>

{% elif role == "user" %}
  <h3>Welcome {{ center_name }}</h3>
  <p><strong>District:</strong> {{ district }}</p>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'courses:course_list' %}" class="btn btn-primary w-100 py-4">Course Management</a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'instructors:list' %}" class="btn btn-success w-100 py-4">Instructor</a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'budget:list' %}" class="btn btn-warning w-100 py-4">Budget</a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'inventory:list' %}" class="btn btn-info w-100 py-4">Inventory</a>
    </div>
  </div>
{% endif %}

<a href="{% url 'logout' %}" class="btn btn-danger mt-4">Logout</a>

{% endblock %}
